<main class="recipes-container">
  <h1>New Recipe</h1>
  <p>Enter Following Fields to Add New Recipe</p>
  <%= render 'recipe_form', recipe: @recipe %>
  <%= link_to 'Cancel', recipes_path, class:'cancel-button' %>
</main>