<div class="recipes">
  <% @recipes.each do |recipe|%>
  <div class="recipe">
    <div class="recipe-name">
      <div>
      <%= link_to "#{recipe.name}", recipe_path(recipe), class: "text-reset text-decoration-none fs-3 text-capitalize" %>
      </div>
    </div>
    <div class="description">
      <p><%= recipe.description %></p>
    </div>
  </div>
  <% end %>
</div>